


<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;" >

    <div class="col-lg-6 col-md-7 col-10">

        <div style="margin-left: 5rem;" class="reg-nums-list">
            <li>
                {{selectedReg}}
            </li>
        </div>

    </div>


</div>